@keyframes rotation {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
  animation: rotation 20s linear infinite;
}
