@keyframes rotation {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s linear infinite;
}
