@keyframes rotation {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
header, section, footer {
  /* outline: 1px solid red; */
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition-duration: .5s;
}

.header__link:hover {
  opacity: 70%;
  transition-duration: 1s;
}

.logo {
  position: absolute;
  z-index: 1;
  /* outline: 1px solid red; */
}

.logo_place_header {
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
  /* outline: 1px solid red; */
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 2;
  /* outline: 1px solid red; */
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* outline: 1px solid red; */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  position: absolute;
  animation: rotation 20s linear infinite;
  /* outline: 1px solid red; */
}

.description {
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  /* outline: 1px solid red; */
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  /* outline: 1px solid red; */
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0 0;
  /* outline: 1px solid red; */
}

.two-columns__paragraph:nth-child(1) {
  margin-top: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  margin: 100px auto 0 auto;
  width: 80%;
  /* outline: 1px solid red; */
}

.cards {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 100px;
  width: 920px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.cards__item {
  /* outline: 1px solid red; */
}

.cards__title {
  text-align: center;
  margin: 0 0 16px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  /* outline: 1px solid red; */
}

.cards__description {
  text-align: center;
  margin: 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  /* outline: 1px solid red; */
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 60px 40px 43px 40px;
  /* outline: 1px solid red; */
}

.video {
  margin-top: 100px;
  background-image: linear-gradient(#fff 0px 400px, #f2f2f2 400px);
}

.video__iframes {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video__iframe {
  margin-right: 20px;
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe:nth-child(2) {
  margin-right: 0;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.digits {
  margin: 100px 0;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 0 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 36px 0 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 68px 0 0 0;

}

.khan__book-pic {
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  transition-duration: .5s;
}

.khan__buy-link:hover {
  opacity: 70%;
  transition-duration: 1s;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  margin: 0 auto;
  text-align: center;
  /* outline: 1px solid red; */
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0 auto;
  text-align: center;
  /* outline: 1px solid red; */
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.table__cell {
  flex-wrap: wrap;
  width: 250px;
  margin-top: 60px;
  /* outline: 1px solid red; */
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0;
}
 .table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0 0;
 }

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  padding-top: 80px;
  /* outline: 1px solid red; */
}

.feynman__img {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  /* outline: 1px solid red; */
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  text-align: center;
  position: relative;
  z-index: 2;
  /* outline: 1px solid red; */
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
  transition-duration: .5s;
  /* outline: 1px solid red; */
}

.feynman__link:hover {
  opacity: 70%;
  transition-duration: 1s;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s linear infinite;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  right: 0;
  margin-top: 80px;
  z-index: 2;
}

.section-title_theme_dark {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  width: 60%;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  width: 60%;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.resources {
  margin: 100px 0 217px 0;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
  /* outline: 1px solid red; */
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.logo_place_footer {
  position: relative;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px 0;
  list-style-type: none;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
}
